body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    padding: 0.5em;
    text-align: center;
    font-size: 1.4em;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    font-weight: bold;
    position: relative;
}
.et-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3em;
    background: url(../img/back.png?datauri) no-repeat 50% 50%;
}
.et-shadow{
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
}
.et-listview{
    margin: 1em;
}
.et-listview.et-corner {
    border-radius: .6em;
}
.et-listview li {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F1F1F1));
    padding: 0.7em;
    border: 1px solid #CCC;
    margin-top: -1px;
}
.et-listview.et-corner li:first-child{
    border-top-left-radius: .6em;
    border-top-right-radius: .6em;
}
.et-listview.et-corner li:last-child{
    border-bottom-left-radius: .6em;
    border-bottom-right-radius: .6em;
}

.desc{
    padding:1em;
    text-align: center;
}