a{
    color: #333;
}

.easytouch{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.et-shadow{
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
}
.et-listview{
    margin: 1em;
}
.et-listview li{
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F1F1F1));
    padding: 0.7em;
    border: 1px solid #ccc;
    margin-top: -1px;
}
.et-listview.et-corner{
    border-radius: .6em;
}
.et-listview.et-corner li:first-child{
    border-radius: .6em .6em 0 0;
}
.et-listview.et-corner li:last-child{
    border-radius: 0 0 .6em .6em;
}
