//namespace
.easytouch{

//slider slideLeftIn
.anim-slideLeftIn (@duration: 0.5s, @function: ease) {
    .et-slideLeftIn{
        -webkit-animation: et-slideLeftIn @duration @function;
    }
    .et-slideRightOut{
        -webkit-animation: et-slideRightOut @duration @function;
    }
    @-webkit-keyframes et-slideLeftIn {
        0% {
            -webkit-transform: translateX(-100%);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }
    @-webkit-keyframes et-slideRightOut {
        0% {
            -webkit-transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(100%);
        }
    }
}
.anim-slideRightOut(@duration, @function){
    .easytouch > .anim-slideLeftIn(@duration, @function);
}

//slider slideRightIn
.anim-slideRightIn(@duration: .5s, @function: ease){
    .et-slideLeftOut{
        -webkit-animation: et-slideLeftOut @duration @function;
    }
    .et-slideRightIn{
        -webkit-animation: et-slideRightIn @duration @function;
    }
    @-webkit-keyframes et-slideLeftOut {
        0% {
            -webkit-transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    @-webkit-keyframes et-slideRightIn {
        0% {
            -webkit-transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(0);
        }
    }
}
.anim-slideLeftOut(@duration, @function){
    .easytouch > .anim-slideRightIn(@duration, @function);
}

//slider slideUpIn
.anim-slideUpIn(@duration: .5s, @function: ease){
    .et-slideUpIn{
        -webkit-animation: et-slideUpIn @duration @function;
    }
    .et-slideDownOut {
        -webkit-animation: et-slideDownOut @duration @function;
    }
    @-webkit-keyframes et-slideUpIn {
        0% {
            -webkit-transform: translateY(-100%);
        }
        100% {
            -webkit-transform: translateY(0);
        }
    }
    @-webkit-keyframes et-slideDownOut {
        0% {
            -webkit-transform: translateY(0);
        }
        100% {
            -webkit-transform: translateY(100%);
        }
    }
}
.anim-slideDownOut(@duration, @function){
    .easytouch > .anim-slideUpIn(@duration, @function);
}

//slider slideDownIn
.anim-slideDownIn(@duration: .5s, @function: ease){
    .et-slideUpOut{
        -webkit-animation: et-slideUpOut @duration @function;
    }
    .et-slideDownIn {
        -webkit-animation: et-slideDownIn @duration @function;
    }
    @-webkit-keyframes et-slideUpOut {
        0% {
            -webkit-transform: translateY(0);
        }
        100% {
            -webkit-transform: translateY(-100%);
        }
    }
    @-webkit-keyframes et-slideDownIn {
        0% {
            -webkit-transform: translateY(100%);
        }
        100% {
            -webkit-transform: translateY(0);
        }
    }
}
.anim-slideUpOut(@duration, @function){
    .easytouch > .anim-slideDownIn(@duration, @function);
}

//fade
.anim-fadeIn(@duration: .5s, @function: ease){
    .et-fadeIn {
        -webkit-animation: et-fadeIn @duration @function;
    }
    .et-fadeOut {
        -webkit-animation: et-fadeOut @duration @function;
    }
    @-webkit-keyframes et-fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes et-fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
}
.anim-fadeOut(@duration, @function){
    .easytouch > .anim-fadeIn(@duration, @function);
}

//Disolve
.anim-dissolveIn(@duration: .5s, @function: ease){
    .et-dissolveIn {
        -webkit-animation: et-dissolveIn @duration @function;
    }
    .et-dissolveOut {
        -webkit-animation: et-dissolveOut @duration @function;
    }
    @-webkit-keyframes et-dissolveIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes et-dissolveOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
.anim-dissolveOut(@duration, @function){
    .easytouch > .anim-dissolveIn(@duration, @function);
}

//pop
.anim-popIn(@duration: .5s, @function: ease){
    .et-popIn {
        -webkit-animation: et-popIn @duration @function;
    }
    .et-popOut {
        -webkit-animation: et-popOut @duration @function;
    }
    @-webkit-keyframes et-popIn {
        0% {
            -webkit-transform: scale(.2);
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }
    @-webkit-keyframes et-popOut {
        0% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(.2);
            opacity: 0;
        }
    }
}
.anim-popOut(@duration, @function){
    .easytouch > .anim-popIn(@duration, @function);
}

//swapLeftIn
.anim-swapLeftIn(@duration: .7s, @function: ease-out){
    .et-swapRightOut,
    .et-swapLeftIn{
        -webkit-animation-duration: @duration;
        -webkit-transform: perspective(800);
        -webkit-animation-timing-function: @function;
    }
    .et-swapLeftIn {
        -webkit-transform-origin: 0% 100%;
        -webkit-animation-name: et-swapLeftIn;
    }
    .et-swapRightOut {
        -webkit-transform-origin: 100% 100%;
        -webkit-animation-name: et-swapRightOut;
    }
    @-webkit-keyframes et-swapLeftIn {
        0% {
            -webkit-transform: translate3d(0, 0, -800px) rotateY(70deg);
            opacity: 0;
        }
        35% {
            -webkit-transform: translate3d(-25%, 0, -400px) rotateY(20deg);
            opacity: 1;
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0) rotateY(0);
        }
    }
    @-webkit-keyframes et-swapRightOut {
        0% {
            -webkit-transform: translate3d(0, 0, 0) rotateY(0);
            opacity: 1;
        }
        35% {
            -webkit-transform:  translate3d(25%, 0, -400px) rotateY(-20deg);
            opacity: .5;
        }
        100% {
            -webkit-transform: translate3d(0, 0, -800px) rotateY(-70deg);
            opacity: 0;
        }
    }
}
.anim-swapRightOut(@duration, @function){
    .easytouch > .anim-swapLeftIn(@duration, @function);
}

//swapRightIn
.anim-swapRightIn(@duration: .7s, @function: ease-out){
    .et-swapRightIn,
    .et-swapLeftOut{
        -webkit-animation-duration: @duration;
        -webkit-transform: perspective(800);
        -webkit-animation-timing-function: @function;
    }
    .et-swapLeftOut {
        -webkit-transform-origin: 0% 100%;
        -webkit-animation-name: et-swapLeftOut;
    }
    .et-swapRightIn {
        -webkit-transform-origin: 100% 100%;
        -webkit-animation-name: et-swapRightIn;
    }
    @-webkit-keyframes et-swapLeftOut {
        0% {
            -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
            opacity: 1;
        }
        35% {
            -webkit-transform: translate3d(-25%, 0, -400px) rotateY(20deg);
            opacity: .5;
        }
        100% {
            -webkit-transform:  translate3d(0, 0, -800px) rotateY(70deg);
            opacity: 0;
        }
    }
    @-webkit-keyframes et-swapRightIn {
        0% {
            -webkit-transform: translate3d(0, 0, -800px) rotateY(-70deg);
            opacity: 0;
        }
        35% {
            -webkit-transform: translate3d(25%, 0, -400px) rotateY(-20deg);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0) rotateY(0deg);
            opacity: 1;
        }
    }
}
.anim-swapLeftOut(@duration, @function){
    .easytouch > .anim-swapRightIn(@duration, @function);
}

//flipLeftIn
.anim-flipLeftIn(@duration: .5s, @function: ease){
    .et-flipLeftIn,
    .et-flipRightOut{
        -webkit-transform-origin: 50% 50%;
        -webkit-backface-visibility: hidden;
    }
    .et-flipLeftIn{
        -webkit-animation: et-flipLeftIn @duration @function;
    }
    .et-flipRightOut {
        -webkit-animation: et-flipRightOut @duration @function;
    }
    @-webkit-keyframes et-flipLeftIn {
        0% {
            -webkit-transform: rotateY(-180deg) scale(.8);
        }
        100% {
            -webkit-transform: rotateY(0) scale(1);
        }
    }
    @-webkit-keyframes et-flipRightOut {
        0% {
            -webkit-transform: rotateY(0) scale(1);
        }
        100% {
            -webkit-transform: rotateY(180deg) scale(.8);
        }
    }
}
.anim-flipRightOut(@duration, @function){
    .easytouch > .anim-flipLeftIn(@duration, @function);
}

//flipRightIn
.anim-flipRightIn(@duration: .5s, @function: ease){
    .et-flipLeftOut,
    .et-flipRightIn{
        -webkit-transform-origin: 50% 50%;
        -webkit-backface-visibility: hidden;
    }
    .et-flipLeftOut {
        -webkit-animation: et-flipLeftOut @duration @function;
    }
    .et-flipRightIn {
        -webkit-animation: et-flipRightIn @duration @function;
    }
    @-webkit-keyframes et-flipLeftOut {
        0% {
            -webkit-transform: rotateY(0) scale(1);
        }
        100% {
            -webkit-transform: rotateY(-180deg) scale(.8);
        }
    }
    @-webkit-keyframes et-flipRightIn {
        0% {
            -webkit-transform: rotateY(180deg) scale(.8);
        }
        100% {
            -webkit-transform: rotateY(0) scale(1);
        }
    }
}
.anim-flipLeftOut(@duration, @function){
    .easytouch > .anim-flipRightIn(@duration, @function);
}

//cubeLeftIn
.anim-cubeLeftIn(@duration: .6s, @function: linear){
    .et-cubeLeftIn,
    .et-cubeRightOut{
        -webkit-animation-duration: @duration;
        -webkit-animation-timing-function: @function;
        -webkit-transform: perspective(800);
    }
    .et-cubeLeftIn {
        -webkit-animation-name: et-cubeLeftIn;
    }
    .et-cubeRightOut {
        -webkit-animation-name: et-cubeRightOut;
    }
    @-webkit-keyframes et-cubeLeftIn {
        0% {
            -webkit-transform: rotateY(-90deg) translateX(-100%) translateZ(240px);
            opacity: .5;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes et-cubeRightOut{
        0% {
            opacity: 1;
        }
        100% {
            -webkit-transform: rotateY(90deg) translateX(100%) translateZ(240px);
            opacity: .5;
        }
    }
}
.anim-cubeRightOut(@duration, @function){
    .easytouch > .anim-cubeLeftIn(@duration, @function);
}

//cubeRightIn
.anim-cubeRightIn(@duration: .6s, @function: linear){
    .et-cubeLeftOut,
    .et-cubeRightIn{
        -webkit-animation-duration: @duration;
        -webkit-animation-timing-function: @function;
        -webkit-transform: perspective(800);
    }
    .et-cubeLeftOut {
        -webkit-animation-name: et-cubeLeftOut;
    }
    .et-cubeRightIn {
        -webkit-animation-name: et-cubeRightIn;
    }
    @-webkit-keyframes et-cubeLeftOut {
        0% {
            opacity: 1;
        }
        100% {
            -webkit-transform: rotateY(-90deg) translateX(-100%) translateZ(240px);
            opacity: .5;
        }
    }
    @-webkit-keyframes et-cubeRightIn {
        0% {
            -webkit-transform: rotateY(90deg) translateX(100%) translateZ(240px);
            opacity: .5;
        }
        100% {
            opacity: 1;
        }
    }
}
.anim-cubeLeftOut(@duration, @function){
    .easytouch > .anim-cubeRightIn(@duration, @function);
}

}