.et-slideLeftIn {
  -webkit-animation: et-slideLeftIn 0.25s ease;
}
.et-slideRightOut {
  -webkit-animation: et-slideRightOut 0.25s ease;
}
@-webkit-keyframes et-slideLeftIn {
  0% {
    -webkit-transform: translatex(-100%);
  }
  100% {
    -webkit-transform: translatex(0);
  }
}
@-webkit-keyframes et-slideRightOut {
  0% {
    -webkit-transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(100%);
  }
}
.et-slideRightIn {
  -webkit-animation: et-slideRightIn 0.25s ease;
}
.et-slideLeftOut {
  -webkit-animation: et-slideLeftOut 0.25s ease;
}
@-webkit-keyframes et-slideRightIn {
  0% {
    -webkit-transform: translatex(100%);
  }
  100% {
    -webkit-transform: translatex(0);
  }
}
@-webkit-keyframes et-slideLeftOut {
  0% {
    -webkit-transform: translatex(0);
  }
  100% {
    -webkit-transform: translatex(-100%);
  }
}
.et-slideTopIn {
  -webkit-animation: et-slideTopIn 0.35s ease;
}
.et-slideBottomOut {
  -webkit-animation: et-slideBottomOut 0.35s ease;
}
@-webkit-keyframes et-slideTopIn {
  0% {
    -webkit-transform: translatey(-100%);
  }
  100% {
    -webkit-transform: translatey(0);
  }
}
@-webkit-keyframes et-slideBottomOut {
  0% {
    -webkit-transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(100%);
  }
}
.et-slideBottomIn {
  -webkit-animation: et-slideBottomIn 0.35s ease;
}
.et-slideTopOut {
  -webkit-animation: et-slideTopOut 0.35s ease;
}
@-webkit-keyframes et-slideBottomIn {
  0% {
    -webkit-transform: translatey(100%);
  }
  100% {
    -webkit-transform: translatey(0);
  }
}
@-webkit-keyframes et-slideTopOut {
  0% {
    -webkit-transform: translatey(0);
  }
  100% {
    -webkit-transform: translatey(-100%);
  }
}
.et-fadeIn {
  -webkit-animation: et-fadeIn 0.225s ease-out;
}
.et-fadeOut {
  -webkit-animation: et-fadeOut 0.125s ease-in;
}
@-webkit-keyframes et-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes et-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.et-dissolveIn {
  -webkit-animation: et-dissolveIn 0.125s ease-out;
}
.et-dissolveOut {
  z-index: 2;
  -webkit-animation: et-dissolveOut 0.225s ease-in;
}
@-webkit-keyframes et-dissolveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes et-dissolveOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.et-popIn {
  -webkit-animation: et-popIn 0.35s ease-out;
}
.et-popOut {
  -webkit-animation: et-popOut 0.1s ease-in;
}
@-webkit-keyframes et-popIn {
  0% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes et-popOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.2);
    opacity: 0;
  }
}
.et-flipLeftIn,
.et-flipRightOut {
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}
.et-flipLeftIn {
  opacity: 0;
  -webkit-animation: et-flipLeftIn 0.225s ease-out;
  -webkit-animation-delay: 0.1575s;
}
.et-flipRightOut {
  -webkit-animation: et-flipRightOut 0.175s ease-in;
}
@-webkit-keyframes et-flipLeftIn {
  0% {
    opacity: 1;
    -webkit-transform: rotatey(-90deg) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotatey(0) scale(1);
  }
}
@-webkit-keyframes et-flipRightOut {
  0% {
    -webkit-transform: rotatey(0) scale(1);
  }
  100% {
    -webkit-transform: rotatey(90deg) scale(0.9);
  }
}
.et-flipLeftOut,
.et-flipRightIn {
  -webkit-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
}
.et-flipRightIn {
  opacity: 0;
  -webkit-animation: et-flipRightIn 0.225s ease-out;
  -webkit-animation-delay: 0.1575s;
}
.et-flipLeftOut {
  -webkit-animation: et-flipLeftOut 0.175s ease-in;
}
@-webkit-keyframes et-flipRightIn {
  0% {
    opacity: 1;
    -webkit-transform: rotatey(90deg) scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotatey(0) scale(1);
  }
}
@-webkit-keyframes et-flipLeftOut {
  0% {
    -webkit-transform: rotatey(0) scale(1);
  }
  100% {
    -webkit-transform: rotatey(-90deg) scale(0.9);
  }
}
.et-swapRightOut,
.et-swapLeftIn {
  -webkit-transform: perspective(800);
}
.et-swapLeftIn {
  -webkit-transform-origin: 0% 100%;
  -webkit-animation: et-swapLeftIn 0.6s ease-out;
}
.et-swapRightOut {
  -webkit-transform-origin: 100% 100%;
  -webkit-animation: et-swapRightOut 0.6s ease-out;
}
@-webkit-keyframes et-swapLeftIn {
  0% {
    -webkit-transform: translate3d(0, 0, -800px) rotatey(70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(-25%, 0, -400px) rotatey(20deg);
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotatey(0);
  }
}
@-webkit-keyframes et-swapRightOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotatey(0);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(25%, 0, -400px) rotatey(-20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, -800px) rotatey(-70deg);
    opacity: 0;
  }
}
.et-swapRightIn,
.et-swapLeftOut {
  -webkit-transform: perspective(800);
}
.et-swapLeftOut {
  -webkit-transform-origin: 0% 100%;
  -webkit-animation: et-swapLeftOut 0.6s ease-out;
}
.et-swapRightIn {
  -webkit-transform-origin: 100% 100%;
  -webkit-animation: et-swapRightIn 0.6s ease-out;
}
@-webkit-keyframes et-swapLeftOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotatey(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: translate3d(-25%, 0, -400px) rotatey(20deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translate3d(0, 0, -800px) rotatey(70deg);
    opacity: 0;
  }
}
@-webkit-keyframes et-swapRightIn {
  0% {
    -webkit-transform: translate3d(0, 0, -800px) rotatey(-70deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: translate3d(25%, 0, -400px) rotatey(-20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotatey(0deg);
    opacity: 1;
  }
}
.et-cubeLeftIn,
.et-cubeRightOut {
  -webkit-transform: perspective(800);
}
.et-cubeLeftIn {
  -webkit-animation: et-cubeLeftIn 0.6s ease;
}
.et-cubeRightOut {
  -webkit-animation: et-cubeRightOut 0.6s ease;
}
@-webkit-keyframes et-cubeLeftIn {
  0% {
    -webkit-transform: rotatey(-90deg) translatex(-100%) translatez(240px);
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes et-cubeRightOut {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotatey(90deg) translatex(100%) translatez(240px);
    opacity: .5;
  }
}
.et-cubeLeftOut,
.et-cubeRightIn {
  -webkit-transform: perspective(800);
}
.et-cubeRightIn {
  -webkit-animation: et-cubeRightIn 0.6s ease;
}
.et-cubeLeftOut {
  -webkit-animation: et-cubeLeftOut 0.6s ease;
}
@-webkit-keyframes et-cubeRightIn {
  0% {
    -webkit-transform: rotatey(90deg) translatex(100%) translatez(240px);
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes et-cubeLeftOut {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotatey(-90deg) translatex(-100%) translatez(240px);
    opacity: .5;
  }
}
.et-flowLeftIn,
.et-flowRightOut {
  -webkit-transform-origin: 50% 30%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.et-flowLeftIn {
  -webkit-animation: et-flowLeftIn 0.35s ease;
  -webkit-animation-delay: 0.35s;
  -webkit-transform: translatex(-100%) scale(0.7);
}
.et-flowRightOut {
  -webkit-animation: et-flowRightOut 0.35s ease;
  -webkit-transform: translatex(100%) scale(0.7);
}
@-webkit-keyframes et-flowLeftIn {
  0% {
    -webkit-transform: translatex(-100%) scale(0.7);
  }
  30%,
  40% {
    -webkit-transform: translatex(0) scale(0.7);
  }
  100% {
    -webkit-transform: translatex(0) scale(1);
  }
}
@-webkit-keyframes et-flowRightOut {
  0% {
    -webkit-transform: translatex(0) scale(1);
  }
  60%,
  70% {
    -webkit-transform: translatex(0) scale(0.7);
  }
  100% {
    -webkit-transform: translatex(100%) scale(0.7);
  }
}
.et-flowLeftOut,
.et-flowRightIn {
  -webkit-transform-origin: 50% 30%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.et-flowRightIn {
  -webkit-animation: et-flowRightIn 0.35s ease;
  -webkit-animation-delay: 0.35s;
  -webkit-transform: translatex(100%) scale(0.7);
}
.et-flowLeftOut {
  -webkit-animation: et-flowLeftOut 0.35s ease;
  -webkit-transform: translatex(-100%) scale(0.7);
}
@-webkit-keyframes et-flowRightIn {
  0% {
    -webkit-transform: translatex(100%) scale(0.7);
  }
  30%,
  40% {
    -webkit-transform: translatex(0) scale(0.7);
  }
  100% {
    -webkit-transform: translatex(0) scale(1);
  }
}
@-webkit-keyframes et-flowLeftOut {
  0% {
    -webkit-transform: translatex(0) scale(1);
  }
  60%,
  70% {
    -webkit-transform: translatex(0) scale(0.7);
  }
  100% {
    -webkit-transform: translatex(-100%) scale(1);
  }
}
.et-turnIn,
.et-turnOut {
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 0;
}
.et-turnIn {
  -webkit-animation: et-turnIn 0.35s ease-out;
}
.et-turnOut {
  z-index: 1;
  -webkit-animation: et-turnOut 0.1s ease-in;
}
@-webkit-keyframes et-turnIn {
  0% {
    -webkit-transform: rotatey(90deg) scale(0.9);
  }
  100% {
    -webkit-transform: rotatey(0);
  }
}
@-webkit-keyframes et-turnOut {
  0% {
    -webkit-transform: rotatey(0);
  }
  100% {
    -webkit-transform: rotatey(-90deg) scale(0.9);
  }
}
